{% extends 'base.html' %} {% block title %} StudyVault {% endblock %} {% block
content %}

<div class="m-6 mt-8 w-full">
	<h1 class="text-3xl font-bold mb-4">Cursos</h1>
	<div class="border mr-6 w-1/2">
		<div class="overflow-auto rounded-lg shadow hidden md:block">
			<table class="w-full">
				<thead class="bg-gray-50 border-b-2 border-gray-200">
					<tr>
						<th class="w-20 p-3 text-sm font-semibold tracking-wide text-left">
							Carrera
						</th>
						<th class="p-3 text-sm font-semibold tracking-wide text-left">
							Tipo
						</th>
						<th class="w-24 p-3 text-sm font-semibold tracking-wide text-left">
							Archivos
						</th>
					</tr>
				</thead>
				<tbody class="divide-y divide-gray-100">
					<tr class="bg-white">
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<a
								href="Basededatos.html"
								class="font-bold text-blue-500 hover:underline"
								>Base de Datos</a
							>
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							Ciencias
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<span
								class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
								>200</span
							>
						</td>
					</tr>
					<tr class="bg-white">
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<a href="#" class="font-bold text-blue-500 hover:underline"
								>Sistemas embebidos Interconectados</a
							>
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							Ciencias
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<span
								class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
								>134</span
							>
						</td>
					</tr>
					<tr class="bg-white">
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<a href="#" class="font-bold text-blue-500 hover:underline"
								>Proyecto Interdisciplinario 1</a
							>
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">PI</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<span
								class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
								>98</span
							>
						</td>
					</tr>
					<tr class="bg-white">
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<a href="#" class="font-bold text-blue-500 hover:underline"
								>Comunicación I</a
							>
						</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">HACS</td>
						<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
							<span
								class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
								>534</span
							>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
