{% extends 'base.html' %} {% block title %} StudyVault {% endblock %} {% block
content %}
<div class="pt-8 pl-14 pr-14 w-full">
	<div class="flex place-content-between w-full flex-grow">
		<h1 class="font-heebo text-4xl font-bold">Bienvenido, Nombre !</h1>
		<img
			src="../static/images/profile.jpg"
			alt=""
			width="60"
			height="60"
			class="rounded-2xl border-2 border-black"
		/>
	</div>
	<div class="flex">
		<div class="basis-2/3">
			<div>
				<h1 class="font-heebo text-xl font-medium">Tu carrera</h1>
			</div>
			<h1 class="font-heebo text-2xl font-bold">Carreras</h1>
			<div class="border mr-6 w-1/2">
				<div class="overflow-auto rounded-lg shadow hidden md:block">
					<table class="w-full">
						<thead class="bg-gray-50 border-b-2 border-gray-200">
							<tr>
								<th
									class="w-20 p-3 text-sm font-semibold tracking-wide text-left"
								>
									Carrera
								</th>
								<th class="p-3 text-sm font-semibold tracking-wide text-left">
									Facultad
								</th>
								<th
									class="w-24 p-3 text-sm font-semibold tracking-wide text-left"
								>
									Cursos
								</th>
							</tr>
						</thead>
						<tbody class="divide-y divide-gray-100">
							<tr class="bg-white">
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<a href="#" class="font-bold text-blue-500 hover:underline"
										>Ingeniería Mecatronica</a
									>
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									Facultad de Ingeniería
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<span
										class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
										>20</span
									>
								</td>
							</tr>
							<tr class="bg-white">
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<a href="#" class="font-bold text-blue-500 hover:underline"
										>Ingeniería Mecanica</a
									>
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									Facultad de Ingeniería
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<span
										class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
										>10</span
									>
								</td>
							</tr>
							<tr class="bg-white">
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<a href="#" class="font-bold text-blue-500 hover:underline"
										>Ciencias de la Computación</a
									>
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									Facultad de Ciencias de la Computación
								</td>
								<td class="p-3 text-sm text-gray-700 whitespace-nowrap">
									<span
										class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg bg-opacity-50"
										>24</span
									>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div></div>
		</div>
		<div class="basis-1/3">
			<div class="border border-[##f1f1f1] p-8 rounded-3xl w-11/12">
				<h1 class="font-heebo font-bold text-2xl">Cursos</h1>
				<p class="font-heebo font-medium text-lg mt-4">
					Explora los materiales de tu carrera aquí!
				</p>
				<a href="{{ url_for('cursos_blueprint.home') }}"
					><button
						class="bg-black text-white p-2 w-full mt-6 rounded-3xl hover:bg-neutral-800 font-bold text-lg"
					>
						Acceder
					</button></a
				>
			</div>
		</div>
	</div>
</div>
{% endblock %}
